<mat-toolbar color="primary">
  <h3>{{'APP.GLOBAL-APP' | translate}}</h3>
  <div *ngIf="isLoggedIn">
    <button mat-button routerLink="/dashboard">
      <mat-icon fontIcon="home"></mat-icon>
    </button>
    <button mat-button routerLink="/applications">{{'APP.NAV-APPS' | translate}}</button>
    <button mat-button routerLink="/social-agents">{{'APP.NAV-PEERS' | translate}}</button>
    <button mat-button routerLink="/data">{{'APP.NAV-DATA' | translate}}</button>
    <button mat-raised-button color="accent" *ngIf="withNotificationsAction" (click)="notifications.emit()">
      <mat-icon>notification_important</mat-icon>
      {{'APP.NAV-CTA' | translate}}
    </button>
  </div>
  <span class="spacer"></span>
  <span>
  	<sai-language
  	  [languages]="languageSelect">
  	</sai-language>
  </span>
</mat-toolbar>
