
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.section {
  min-height: 100px;
  min-width: 100px;
  padding: 100px;
  margin: 50px;
  border: #333333;
}

button {
  min-height: 100px;
  min-width: 100px;
}

mat-icon {
  margin-top: 30px;
  min-width: 4em;
  min-height: 2em;
  font-size: 4em;
}
