<mat-card>
  <mat-card-title>
    <h2>{{"APP.CTA-ADD-SOCIAL-AGENT" | translate}}</h2>
  </mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field class="full-width-input">
        <mat-label>{{"APP.WEB-ID" | translate}}</mat-label>
        <input matInput required formControlName="webid">
        <mat-error>{{"APP.WEB-ID-REQUIRED" | translate}}</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <mat-label>{{"APP.SOCIAL-AGENT-NAME" | translate}}</mat-label>
        <input matInput required formControlName="label">
        <mat-error>{{"APP.SOCIAL-AGENT-REQUIRED" | translate}}</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <mat-label>{{"APP.SOCIAL-AGENT-NOTE" | translate}}</mat-label>
        <textarea matInput formControlName="note"></textarea>
      </mat-form-field>
      <button mat-raised-button color="primary">{{"APP.CTA-ADD" | translate}}</button>
    </form>
  </mat-card-content>
</mat-card>
