
#container {
  border: solid darkgray 1px;
}

.row {
  display: flex;
  align-items: center;
  * {
    margin-left: 10px;
  }
}

mat-chip-list {
  display: flex;
  justify-content: center;
}

ul {
 list-style-type: none;
  padding: 0
}

.side-by-side {
  display: flex;
  justify-content: space-around;
}

section {
  display: flex;
  flex-direction: column;
  //justify-content: left;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;

  button {
    min-width: 10%;
  }
}
