<div>
  <div>
    <mat-expansion-panel togglePosition="before" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{shapetree.label}}
        </mat-panel-title>
        <mat-panel-description>
          {{need.label}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="side-by-side">
        <section class="registries">
          <h3>{{'APP.ACCESS-REGISTRY' | translate}}:</h3>
          <ul>
            <li *ngFor="let registry of registryIds">
              <mat-checkbox [id]="registry" disabled checked>
                {{registry}}<a [href]="registry" target="_blank">
                <button mat-icon-button><mat-icon>open_in_new</mat-icon></button></a>
              </mat-checkbox>
            </li>
          </ul>
        </section>
        <section class="access-levels">
          <h3>{{'APP.ACCESS-LEVEL' | translate}}</h3>
          <ul>
            <li *ngFor="let access of need.access">
              <mat-checkbox checked disabled>
                {{access.split("#").pop()}}
              </mat-checkbox>
            </li>
          </ul>
        </section>
      </div>
      <div class="buttons">
        <button mat-raised-button color="primary" (click)="save()">{{'APP.CTA-SAVE' | translate}}</button>
        <button mat-raised-button color="warn" (click)="cancel()">{{'APP.CTA-CANCEL' | translate}}</button>
      </div>
    </mat-expansion-panel>
  </div>
</div>
