<mat-button-toggle-group value="none" (change)="modeSelected($event.value)">
    <mat-button-toggle value="none">
        <mat-icon>block</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="view">
        <mat-icon>preview</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="edit">
        <mat-icon>edit_square</mat-icon>
    </mat-button-toggle>
    <ng-container *ngIf="extras.includes('add')">
        <mat-button-toggle value="add">
            <mat-icon>add_box</mat-icon>
        </mat-button-toggle>
    </ng-container>
</mat-button-toggle-group>