<mat-list>
  <mat-list-item class="item-wrapper">
    <img src="{{app.thumbnail}}">
    <div class="list-content">
      <h3>{{app.name}}</h3>
      <p>{{app.description}}</p>
    </div>
    <button mat-raised-button color="primary">{{app.url}}</button>
  </mat-list-item>
  <mat-list-item class="item-wrapper">
    <img src="{{app.thumbnail}}">
    <div class="list-content">
      <h3>{{app.name}}</h3>
      <p>{{app.description}}</p>
    </div>
    <button mat-raised-button color="primary">{{app.url}}</button>
  </mat-list-item>
  <mat-list-item class="item-wrapper">
    <img src="{{app.thumbnail}}">
    <div class="list-content">
      <h3>{{app.name}}</h3>
      <p>{{app.description}}</p>
    </div>
    <button mat-raised-button color="primary">{{app.url}}</button>
  </mat-list-item>
</mat-list>
