* {
  box-sizing: border-box;
  font-family: sans-serif;
}

mat-expansion-panel-header {
  height: auto !important;
  padding-bottom: 10px;
  padding-top: 10px;

  img {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.19);
    border: solid 2px #FFF;
  }

}

.content {
  display: flex;
  width: 100%;
  padding: 5px;
  gap: 10px;
}

.text-content {
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  justify-content: space-evenly;

  h3 {
    color: #131415;
  }

  p {
    font-size: 0.85rem;
    color: #768692;
  }

  .date-line {
    display: inline-flex;
    justify-content: space-between;
  }

  h3, p {
    margin: 0;
  }
}

a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 10px;
}


.access-need {
  display: flex;
  justify-content: space-between;
  padding: 15px 60px;
}

.access-label-container {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  justify-content: center;

  .label {
    text-transform: capitalize;
    padding: 5px 20px;
    border-radius: 10px;
    align-self: center;
  }

  button {
    background: rgba(0, 0, 0, 0.05);
  }
}

.access-need.even {
  background-color: #fafafa;
}

:host ::ng-deep .mat-expansion-panel-body {
  padding: 0;
}

.actions {
  padding: 0;
  background-color: rgba(218, 41, 28, 0.3);
  button {
    color: #da291c;
    width: 100%;
  }
}

//@include breakpoint(mobile){
@media (max-width: 767px) and (orientation: portrait) {
  .hide-mobile {
    display: none;
  }
  .main-header {
    padding: 0;
  }
  span.mat-expansion-indicator {
    margin-right: 5px;
  }
  .date-line {
    flex-flow: column;
  }
  .access-need {
    padding: 15px 10px;
    flex-flow: column;
  }
  .access-label-container {
    margin-top: 2%;
  }
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

