
<mat-accordion>
<!--  TODO (angel) remove expanded property, for testing only -->
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header class="main-header">
      <mat-panel-title>
        <div class="content">
          <img src="{{profile.thumbnail}}">
          <div class="text-content">
            <h3>{{profile.name}}</h3>
            <p>{{profile.description}}</p>
            <p class="date-line">
              <span>{{profile.author}}</span>
              <span>Registered on: {{profile.authorizationDate | date}}</span>
            </p>
          </div>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="panel-content">
<!--      TODO (angel) remove expanded, for testing only -->
      <mat-expansion-panel *ngFor="let group of groups" expanded="true">
        <mat-expansion-panel-header>
          <div class="text-content">
            <h3>{{group.title}}</h3>
            <p>{{group.description}}</p>
          </div>
        </mat-expansion-panel-header>
        <div class="access-need-panel">
          <div class="access-need" *ngFor="let need of group.needs; let odd=odd; let even=even" [ngClass]="{odd: odd, even: even}">
            <div class="text-content">
              <h3>{{need.title}}</h3>
              <p>{{need.description}}</p>
            </div>
            <div class="access-label-container">
              <button mat-button *ngFor="let level of need.access" class="label">
                <mat-icon aria-hidden="false">
                  {{level === 'read' ? 'visibility' : 'edit'}}
                </mat-icon>
                {{level}}
              </button>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </div>
    <mat-card class="actions">
      <button mat-button>SAVE</button>
    </mat-card>
  </mat-expansion-panel>
</mat-accordion>
