@use 'src/assets/styles/sdk-theme';
@use '@angular/material' as mat;
@include mat.core();

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

$theme-primary: mat.define-palette(sdk-theme.$theme-primary-color);
$theme-secondary: mat.define-palette(sdk-theme.$theme-secondary-color);
$theme-highlight-primary: mat.define-palette(sdk-theme.$theme-highlight-primary-color);
$theme-highlight-secondary: mat.define-palette(sdk-theme.$theme-highlight-secondary-color);

$theme-typo-level: mat.define-typography-level(
  $font-family: Roboto,
  $font-weight: 400,
  $font-size: 1rem,
  $line-height: 1,
  $letter-spacing: normal,
);

$theme-palette: mat.define-light-theme((
  color: (
    primary: $theme-primary,
    secondary: $theme-secondary,
    primary-highlight: $theme-highlight-primary,
    secondary-highlight: $theme-highlight-secondary,
    accent: $theme-highlight-primary,
  )
));

@include mat.all-component-themes($theme-palette);
