@import "src/assets/styles/vars";

button, a {
  &.mat-flat-button {
    border-radius: 3px;
    padding: 4px 32px;
    min-width: 150px;

    &[disabled] {
      opacity: 0.6;
    }
  }

  &.btn-md {
    min-width: 180px;
  }

  &.btn-lg {
    min-width: 300px;
  }

  &.btn-full-width {
    min-width: 100%;
  }
}

.btn-clear {
  background: transparent;
  color: inherit;
  border: none;
  outline: none;
}

.btn-default {
  color: $light-color;
  background-color: $mid-color;
}
