.languageSelector {
  display: flex;
  border: 1px solid #333;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 0 0 1px inset;
  padding: 5px;
  min-width: 6%;
  max-width: 15%;
  width: auto;

  select {
    border: none;
    width: 80%;
    &:focus-visible {
      outline: none;
    }
    option {
      display: flex;
      justify-content: center;
    }
  }
}
