
name: ESLint
on:
  - pull_request
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v2

      - name: Use Node 16
        uses: actions/setup-node@v2
        with:
          node-version: 16.x

      - name: Install deps
        run: npm ci

      - name: Run linter
        run: npm run lint
